<!--The content below is only a placeholder and can be replaced.-->
<div class="ui form">
    <div class="three fields">
        <div class="field">
            <label>Name</label>
            <input type="text" placeholder="Name">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" placeholder="Email">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" placeholder="Password">
        </div>
    </div>
    <div class="ui button" tabindex="0">Add new user</div>
</div>
<div style="text-align:center">
    <h1>{{ title }}</h1>
</div>
<table class="ui selectable celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-mail address</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of arrayUsers">
            <td>{{ user.attributes.name }}</td>
            <td>{{ user.attributes.email }}</td>
            <td>{{ user.attributes.admin }}</td>
        </tr>
    </tbody>
</table>