<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{ title }}</h1>
</div>
<table class="ui selectable celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-mail address</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of arrayUsers">
            <td>{{ user.attributes.name }}</td>
            <td>{{ user.attributes.email }}</td>
            <td>{{ user.attributes.admin }}</td>
        </tr>
    </tbody>
</table>